<h1 class="ls-title-intro ls-ico-home"><%= @townhouse_areas.model_name.human.capitalize %>
  <%= link_to t('add'), new_townhouse_area_path, class: 'ls-btn-primary' %>
</h1>

<div class="table">
  <table class="table table-hover table-responsive table-sm">
    <thead>
      <th class="ls-ico-home"></th>
      <th><%= TownhouseArea.human_attribute_name(:name).capitalize %></th>
      <th></th>
    </thead>
    <tbody>
      <%= render @townhouse_areas %>
    </tbody>
  </table>
</div>
<%= paginate @townhouse_areas %>
