<h1 class="ls-title-intro ls-ico-calendar">
  <%= t(controller.action_name).capitalize %>
</h1>

<%= form_for @booking do |f| %>
  <div class="form-group">
    <%= f.label :reserved_to %>
    <%= f.text_field :reserved_to, class: 'form-control' %>
    <%= @booking.errors.messages.fetch(:reserved_to, nil) * ', ' %>
  </div>
  <div class="form-group">
    <%= f.label :user %>
    <%= f.collection_select(:user_id, User.all, :id, :name, { include_blank: true }, class: 'form-control') %>
    <%= @booking.errors.messages.fetch(:user, nil) * ', ' %>
  </div>
  <div class="form-group">
    <%= f.label :townhouse_area %>
    <%= f.collection_select(:townhouse_area_id, TownhouseArea.shared, :id, :name, { include_blank: true }, class: 'form-control') %>
    <%= @booking.errors.messages.fetch(:townhouse_area, nil) * ', ' %>
  </div>

  <div class="form-group">
    <%= link_to t('cancel'), :back, class: 'btn btn-default' %>
    <%= f.submit t('submit'), class: 'btn btn-primary' %>
  </div>
<% end %>
