<h1 class="ls-title-intro ls-ico-user">
  <%= t(controller.action_name).capitalize %>
</h1>

<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.check_box :active %>
    <%= f.label :active %>
  </div>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
    <%= @user.errors.messages.fetch(:name, nil) * ', ' %>
  </div>
  <div class="form-group">
    <%= f.label :document %>
    <%= f.text_field :document, class: 'form-control' %>
    <%= @user.errors.messages.fetch(:document, nil) * ', ' %>
  </div>
  <div class="form-group">
    <%= f.label :number %>
    <%= f.text_field :number, class: 'form-control' %>
    <%= @user.errors.messages.fetch(:number, nil) * ', ' %>
  </div>
  <div class="form-group">
    <%= f.label :telephone %>
    <%= f.text_field :telephone, class: 'form-control' %>
    <%= @user.errors.messages.fetch(:telephone, nil) * ', ' %>
  </div>
   <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
    <%= @user.errors.messages.fetch(:email, nil) * ', ' %>
  </div>

  <div class="form-group">
    <%= link_to t('cancel'), users_path, class: 'btn btn-default' %>
    <%= f.submit t('submit'), class: 'btn btn-primary' %>
  </div>
<% end %>
